name: Field-Map-Editor

run-name: 1.0.4.${{ github.run_number }}

on:
  workflow_dispatch:
  push:
    paths-ignore:
    - '**/*.md'
    #- '**/*.toml'
    - '.github/workflows/ubuntu.yaml'
    branches:
    - main
    tags:
    - "*"
  pull_request:
    paths-ignore:
    - '**/*.md'
    #- '**/*.toml'
    - '.github/workflows/ubuntu.yaml'
    branches:
    - main

env:
  _IS_BUILD_CANARY: false
  _IS_GITHUB_RELEASE: false
  _RELEASE_NAME: Field-Map-Editor
  _RELEASE_VERSION: v0
  _RELEASE_CONFIGURATION: Release
  _BUILD_BRANCH: "${{ github.ref }}"
  _CHANGELOG_VERSION: "0"
  # GIT: Fix reporting from stderr to stdout
  GIT_REDIRECT_STDERR: 2>&1

jobs:
  Field-Map-Editor:
    runs-on: windows-latest
    timeout-minutes: 1440
    steps:
    - name: Set Git Config
      run: |
        git config --global core.autocrlf false
        git config --global core.filemode false
        git config --global core.longpaths true
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Build   
      id: build_step
      run: ".github/workflows/build.ps1"
      shell: pwsh
      env:
        _BUILD_VERSION: "1.0.4.${{ github.run_number }}"
        GITHUB_PACKAGES_PAT: ${{ secrets.GITHUB_TOKEN }}
    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest --output-on-failure
    - name: Upload vcpkg build logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: vcpkg-logs
        path: ${{ github.workspace }}/vcpkg/buildtrees/**/*.log
    - name: Publish PR artifacts
      if: env._IS_GITHUB_RELEASE == 'false' && success()
      uses: actions/upload-artifact@v4.0.0
      with:
        name: "${{ env._RELEASE_NAME }}-${{ env._RELEASE_VERSION }}"
        path: ".dist/*.zip"
    - name: Delete existing canary tag if it exists
      if: env._IS_GITHUB_RELEASE == 'true' && env._IS_BUILD_CANARY == 'true' && success()
      run: |
        git fetch origin +refs/tags/*:refs/tags/*
        if (git rev-parse -q --verify refs/tags/canary 2>$null) {
          Write-Host "Deleting existing 'canary' tag"
          git push origin :refs/tags/canary
        }

    - name: Publish Canary release
      uses: ncipollo/release-action@v1
      if: env._IS_GITHUB_RELEASE == 'true' && env._IS_BUILD_CANARY == 'true' && success()
      with:
        artifacts: ".dist/*.zip"
        allowUpdates: true
        generateReleaseNotes: true
        generateReleaseNotesPreviousTag: ${{ steps.build_step.outputs.prev_tag }}
        prerelease: true
        removeArtifacts: true
        tag: canary
        name: "${{ env._RELEASE_VERSION }}-canary"
        body: |
          This is a canary build. Please be aware it may be prone to crashing and is NOT tested by anyone. Use this build AT YOUR OWN RISK!
    - name: Publish Stable release
      uses: ncipollo/release-action@v1
      if: env._IS_GITHUB_RELEASE == 'true' && env._IS_BUILD_CANARY == 'false' && success()
      with:
        artifacts: ".dist/*.zip"
        allowUpdates: true
        generateReleaseNotes: true
        generateReleaseNotesPreviousTag: ${{ steps.build_step.outputs.prev_tag }}
        makeLatest: true
        removeArtifacts: true
        name: "${{ env._RELEASE_VERSION }}"



